allmerged.rds filter=lfs diff=lfs merge=lfs -text
Bilag[[:space:]]-[[:space:]]Data/bilag.vbob-data.json filter=lfs diff=lfs merge=lfs -text
Bilag[[:space:]]-[[:space:]]Data/bilag.vbob.csv filter=lfs diff=lfs merge=lfs -text
